/**
 * partials/nav
 * ---
 * Menus
 */

 //Use tablet breakpoint for small menus, divi big menus


.nav {
	position:relative;
	@media screen and (max-width:1200px){
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.wpml-ls-statics-shortcode_actions{
		display: inline-block;
		li{
			span{
				// font-size:$small;
				font-size: 13px;
			}
		}
	}

	.menu {
		display: inline-block;
	}

	ul{
		display: inline-flex;
		padding-left:0;
		justify-content: center;
    align-items: center;
    margin: 0;
		@media screen and (max-width:1200px){
			flex-direction: column;
			justify-content: center;
			// align-items: center;
			align-items:flex-start;
		}

		li.page_item, li.menu-item{
			display: inline-block;
			height:100%;
			// @inclide min-large{
			// 	margin-right: 40px;
			// }
			// @include min-tablet{
			// 	margin-right: 30px;
			// }
			@media screen and (min-width:1201px){ 
				margin-right: 40px;
			}

			&:last-child{
				margin-right:0;
			}
			a{
				font-family: $heading_font;
				font-size: $body;
				font-weight: 700;
				transition: all 0.4s ease-in-out;
				text-transform: uppercase;

				color: $accent_color;

				&:hover{
					color: $base_color;
				}

			}

			@media screen and (max-width:1200px){
					a{
						display: block;
						margin-bottom: 5px;
						text-align: left !important;
						color: $base_color;

						&:hover{
							color: $accent_color;
						}
					}
				}

			@media screen and (min-width:1201px){
				ul{
					position: absolute;
					pointer-events: none;
					flex-direction: column;
					align-items: flex-start;
					li{
						opacity: 0;
						transition: all 0.2s ease-in-out;
						margin: 0;
					}
				}
				
				&:hover, ul:hover{
					pointer-events: auto;
					ul{
						pointer-events: auto;
					}
					li{
						opacity: 1;
						pointer-events: auto;
					}
				}
			}
			@media screen and (max-width:1200px){
				ul{
					align-items: flex-start;
					// margin-top: 20px;
					// border-left: 2px solid $accent_color;
					// padding-left: 20px;
					li a{
						color: $accent_color;

						&:hover{
							color: $base_color;
						}
					}
				}
			}
			
		}
	}
}



