html,body {
  font-size: $font-size-base;
  line-height:$line-height-base;

  @include big-phone{
    font-size:$font-size-base-mobile;
    line-height:$line-height-base-mobile;
  }

}

body{
  margin: auto;

  section{
    transition: all 0.4s ease-in-out; 
  }

  .break-word{
    overflow-wrap: break-word;
    word-break: break-word;
  }

  h1,h2,h3,h4,h5,h6,p,span,a,ol,ul{
        // overflow-wrap: break-word;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    // padding: 0 20px;
    // @include divi{
    //   // text-align:center !important;
    //   text-align:center;
    // }
  }
  h1,h2,h3,h4,h5,h6{
    font-family: $heading_font;
    font-weight: $heading_weight;
    // margin: $heading_margin;
    margin-bottom: $def_spacing;
    color: $accent_color;
  }
  h1, h1 span{
    font-size: $h2;
    line-height: 1.2em;
    @include big-phone{
      font-size: $h3;
    }
  }
  h2, h2 span{
    font-size: $h2;
    line-height: 1.2em;
    @include big-phone{
      font-size: $h3;
    }
  }
  h3, h3 span{
    font-size: $h3;
    line-height: 1.5em;
    @include big-phone{
      font-size: $h4;
    }
  }
  h4, h4 span, blockquote{
    font-size: $h4;
    line-height: 1.5em;
    
  }
  h5, h5 span{
    font-size: $h5;
    line-height: 1.5em;
  }
  h6, h6 span{
    font-size: $h5;
    line-height: 1.5em;
  }
  p,span,ol,ul{
    font-weight: $body_weight;
    font-size: $font-size-base;
    // line-height:$line-height-base;
    // line-height:35px;

    @include big-phone{
      font-size:$font-size-base-mobile;
      line-height:$line-height-base-mobile;
    }
  }
  p,ol,ul{
    // margin:$paragraph_margin;
    margin-bottom: $def_spacing;
  }
  ul,ol{
    @include big-phone{
      padding: 20px;
    }
  }
  
}